*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #ffffff;
    --main-color: #2947A9;
    --secondary-color: #F9995D;
    --alt-text-color: #C2C7D6;
    --title-color: #292E3D;
    --text-color: #525B7A;
    --fs-72px: 72px;
    --fs-36px: 36px;
    --fs-22px: 22px;
    --fs-20px: 20px;
    --fs-16px: 16px;
    --section-padding: 60px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--clr-white);
    font-family: "Poppins", serif
}
.container {
    padding: 0 15px;
    margin: auto;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
input,
button{
    border: none;
    outline: none;
}
img{
    max-width: 100%;
}
h1{
    font-size: var(--fs-72px);
    font-size: clamp(50px,8vw,var(--fs-72px));
    color: var(--title-color);
}
h2.title{
    font-size: var( --fs-36px);
    color: var(--title-color);
}
h3.title{
    font-size: var(--fs-20px);
    color: var(--title-color);
}
/* Utility Classes */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.grid{
    display: grid;
}
.in-flex{
    display: inline-flex;
    align-items: center;
}
.description{
    margin: 16px 0;
    line-height: 1.6;
    font-size: var(--fs-16px);
    color: var(--text-color);
}
.text-center{
    text-align: center;
}
.underline::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 50px;
    height: 2px;
}
.link-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: var(--fs-16px);
}
.clr-white{
    background-color: var(--clr-white);
}
.text-white{
    color: var(--clr-white);
}
/* Components */
header{
    position: sticky;
    top:0;
    z-index: 10;
    padding: 20px 0;
    background-color: var(--clr-white);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .logo a{
    gap: 10px;
    font-size: var(--fs-22px);
    font-weight: 600;
    color: var(--main-color);
}
header .container nav ul li a{
    display: block;
}
@media (max-width:991px) {
    header .container nav input{
        display: none;
    }
    header .container nav ul{
        position: fixed;
        top: 110px;
        right: -200%;
        max-width: 240px;
        width: 60%;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        color: var(--clr-white);
        background-color: var(--main-color);
        transition: all 200ms linear;
    }
    header .container nav ul a{
        display: block;
        margin: 10px 0;
    }
    header .container nav input:checked ~ ul{
        right: 20px;
    }
}
@media (min-width:992px) {
    header .container nav input,
    header .container nav label{
        display: none;
    }
    header .container nav ul{
        display: flex;
        gap: 23px;
        color: var(--text-color);
    }
    header .container nav ul li a.contact-us{
        color: var(--secondary-color);
    }
}
section{
    padding: var(--section-padding) 0;
}
.hero{
    height: 100vh;
    background: url(../images/hero.webp)  center;
}
.hero .container{
    align-items: center;
    height: 100%;
}
.reputation .container .reputation-list{
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.reputation .container .reputation-list .col{
    max-width: 320px;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid var(--alt-text-color);
    box-shadow: 0 0 20px 2px rgb(0 0 0 / .02);
}
.reputation .container .reputation-list .col .image-icon{
    height: 55px;
}